{% extends "template_facility.html" %}
{% load static %}

{% block title %}B16棟{% endblock %}
{% block header_title %}B16棟{% endblock %}

{% block facility_name_ja %}B16棟{% endblock %}
{% block facility_name_en %}B16 Bldg.{% endblock %}

{% block image %}{% static "images/B16.jpg" %}{% endblock %}

{% block section_heading %}B16棟{% endblock %}
{% block section_subheading %}B16 Bldg.{% endblock %}

{% block introduction %}
<li>
    <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'images/B16_square.jpg' %}" alt="..." /></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4>2023年度開設</h4>
            <h4 class="subheading">諸所の施設を集約</h4>
        </div>
        <div class="timeline-body"><p class="text-muted">つばさ保育園，健康管理センター，メンタルヘルスセンター</p></div>
    </div>
</li>
<li class="timeline-inverted">
    <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'img/about/2.jpg' %}" alt="..." /></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4>健康管理センター</h4>
            <h4 class="subheading">大学の保健室</h4>
        </div>
        <div class="timeline-body"><p class="text-muted">健康診断，健康相談，突発的な傷病に対する応急処置を実施</p></div>
    </div>
</li>
<li>
    <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'img/about/3.jpg' %}" alt="..." /></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4>つばさ保育園</h4>
            <h4 class="subheading"></h4>
        </div>
        <div class="timeline-body"><p class="text-muted">教職員等の仕事・研究と育児の両立を支援. 運営は株式会社スクルドアンドカンパニーに委託し、大学が一部費用を負担して運営.</p></div>
    </div>
</li>
<li class="timeline-inverted">
    <div class="timeline-image">
        <h4>2023年度<br><br>開設！</h4>
    </div>
</li>
{% endblock %}

{% block postcode %}599-8531{% endblock %}
{% block address %}大阪府堺市中区学園町1番1号{% endblock %}


{% block access %}
南海高野線「白鷺駅」から徒歩約7分<br>
南海高野線「中百舌鳥駅」から徒歩約13分<br>
Osaka Metro御堂筋線「なかもず駅（5号出口）」から徒歩約13分
{% endblock %}

{%block googlemap %}
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1478.5673110881978!2d135.50429678051938!3d34.54577474385833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1705983499668!5m2!1sja!2sjp" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}