{% extends "template.html" %}
{% load static %}

{% block contents %}
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">大阪公立大学</div>
        <div class="masthead-heading text-uppercase">新施設紹介</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#portfolio">Take a look</a>
    </div>
</header>
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">新施設一覧</h2>
            <h3 class="section-subheading text-muted">New Facilities</h3>
        </div>
        <div class="row">
            {% for item in object_list %}
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" href="{{item.url}}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        {% with 'images/'|add:item.image as image_static %}
                        <img class="img-fluid" src="{% static image_static %}" alt="..." />
                        {% endwith %}
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">{{item.name}}</div>
                        <div class="portfolio-caption-subheading text-muted">{{item.eng_name}}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
