{% extends "template.html" %}
{% load static %}

{% block contents %}
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">大阪公立大学</div>
        <div class="masthead-heading text-uppercase">新施設紹介(仮)</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#portfolio">Take a look</a>
    </div>
</header>
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">新施設一覧</h2>
            <h3 class="section-subheading text-muted">New Facilities</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" href="{% url 'morinomiya' %}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'images/morinomiya.jpg' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">森ノ宮キャンパス</div>
                        <div class="portfolio-caption-subheading text-muted">Morinomiya Campus</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" href="{% url 'engineering' %}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'images/engineering.jpg' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">工学新棟</div>
                        <div class="portfolio-caption-subheading text-muted">Engeneering Bldg.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" href="{% url 'science' %}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'images/noimage.png' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">理学新棟</div>
                        <div class="portfolio-caption-subheading text-muted">Science Bldg.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
