{% extends "template_facility.html" %}
{% load static %}

{% block title %}生産技術センター{% endblock %}
{% block header_title %}生産技術センター{% endblock %}

{% block facility_name_ja %}生産技術センター{% endblock %}
{% block facility_name_en %}Production Engineering Center{% endblock %}

{% block image %}{% static "images/pec.jpg" %}{% endblock %}

{% block section_heading %}生産技術センター{% endblock %}
{% block section_subheading %}Production Engineering Center{% endblock %}

{% block introduction %}
<li>
    <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'images/pec_square.jpg' %}" alt="..." /></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4>2023年度開設</h4>
            <h4 class="subheading">「ものづくり」の新拠点</h4>
        </div>
        <div class="timeline-body"><p class="text-muted">CNC工作機械、3Dプリンタなどの加工、機械系実習設備がまとまった全学組織の加工部門、学生実習工場</p></div>
    </div>
</li>
<li class="timeline-inverted">
    <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'img/about/2.jpg' %}" alt="..." /></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4>講義の実習にも利用</h4>
            <h4 class="subheading"></h4>
        </div>
        <div class="timeline-body"><p class="text-muted">工学域の機械工作実習や生命環境化学域の分子科学実験</p></div>
    </div>
</li>
<li>
    <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'img/about/3.jpg' %}" alt="..." /></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4>依頼加工や</h4>
            <h4 class="subheading">受託業務も</h4>
        </div>
        <div class="timeline-body"><p class="text-muted">有償による加工サービスや学内の修理サービスも実施</p></div>
    </div>
</li>
<li class="timeline-inverted">
    <div class="timeline-image">
        <h4>2024年度<br><br>開設予定！</h4>
    </div>
</li>
{% endblock %}

{% block postcode %}599-8531{% endblock %}
{% block address %}大阪府堺市中区学園町1番1号{% endblock %}


{% block access %}
南海高野線「白鷺駅」から徒歩約7分<br>
南海高野線「中百舌鳥駅」から徒歩約13分<br>
Osaka Metro御堂筋線「なかもず駅（5号出口）」から徒歩約13分
{% endblock %}

{%block googlemap %}
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1478.5673110881978!2d135.50429678051938!3d34.54577474385833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1705983499668!5m2!1sja!2sjp" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}
